.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
cordova/www
cordova/platforms/
cordova/plugins/
cordova/build.json
UserInterfaceState.xcuserstate
.tmp/
dist/
*.swp
*.swo
*.ipa
*.apk
