input, select{
  appearance: none;
  border: 0;
  width: 100%;
  padding: 0.75rem 0rem;
  background: transparent;
  font-size: $font-normal;
  position: relative;
  border-radius: 0px;
  border-bottom: 2px solid $lighter-gray;

  user-select: initial;

  &:focus {
    outline: 0;
    border-bottom: 2px solid $light-blue;
  }
}

button{
  background: $light-blue;
  border: 0;
  appearance: none;
  color: $white;
  outline: 0;
  margin: 1rem 0;
  border-radius: 50px;
  font-weight: 500;
  line-height: 50px;
  transition: background 100ms;
  box-shadow: 0 0 5px 0 $gray;

  &:hover{
    background: lighten($light-blue, 5%);
  }

  &:active{
    background: darken($light-blue, 5%);
  }

  &.full{
    display: block;
    width: 100%;
  }

  &.secondary{
    background: $gray;

    &:hover{
      background: lighten($gray, 5%);
    }

    &:active{
      background: darken($gray, 5%);
    }
  }

  &.destructive{
    background: $red;

    &:hover{
      background: lighten($red, 5%);
    }

    &:active{
      background: darken($red, 5%);
    }
  }

  &.circle{
    height: 50px;
    width: 50px;
  }
}

input,
select {
  margin-bottom: 1rem;
}


.form-group{
  position: relative;
  text-align: left;

  label{
    text-transform: uppercase;
    font-weight: 500;
    color: $gray;
    font-size: $font-smallest;
  }

  > [class^="icon-"]{
    position: absolute;
    right: 0;
    top: 30px;
    color: $gray;
  }
}